providers: [
  {
    key: "bt"
    config:
      commands: [
        {
          project: "/Users/tom/.atom"
          source: "/Users/tom/.atom/.build-tools.cson"
          name: "Rake"
          command: "rake"
          wd: "%d"
          env: {}
          modifier:
            shell:
              command: "bash -c"
            wildcards: {}
            save_all: {}
            env:
              "\"PATH": "/Users/tom/.rvm/gems/ruby-2.0.0-p451/bin:/Users/tom/.rvm/gems/ruby-2.0.0-p451@global/bin:/Users/tom/.rvm/rubies/ruby-2.0.0-p451/bin:/usr/local/share/python:/Users/tom/Library/TeX/LocalTeX/texbin:/usr/local/bin:/usr/local/sbin:/usr/bin:/bin:/usr/sbin:/sbin:/usr/local/opt:/opt/X11/bin:/usr/texbin:/Library/Frameworks/Python.framework/Versions/3.4/bin:/Users/tom/.pandoc/filters:/Users/tom/.pandoc/filters:/Users/tom/.rvm/bin\""
          stdout:
            highlighting: "nh"
          stderr:
            highlighting: "nh"
          output:
            console:
              close_success: true
              queue_in_buffer: true
          version: 1
        }
      ]
  }
]
